.checkout-container {
    width: 100%;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--grey);
    padding-bottom: 100px;
}

.information-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.checkout-headline {
    margin-bottom: 20px;
    font-size: 25px;
    letter-spacing: 0.5px;
}

.name-div, .zip-country-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-input, .zip-code-input, .county-input {
    width: 300px;
    height: 50px;
    font-size: 18px;
    padding-left: 10px;
}

.zip-code-input {
    border-radius: 0px 0px 0px 10px;
    border: 0.5px solid gray;
}

.first {
    border-radius: 10px 0px 0px 0px;
    border: 0.5px solid grey;
}

.second {
    border-radius: 0px 10px 0px 0px;
    border: 0.5px solid gray;
}

.address-input {
    width: 600px;
    height: 50px;
    font-size: 18px;
    padding-left: 10px;
    border: none;
    border-left: 0.5px solid grey;
    border-right: 0.5px solid grey;
}

.address-input:focus, .zip-code-input:focus, .name-input:focus,
.county-input:focus {
    outline: none;
}



.continue-btn:hover {
    opacity: 0.8;
}

.county-input {
    border-radius: 0px 0px 10px 0px;
    border: 0.5px solid grey;
}


.payment-method {
    margin-top: 100px;
}

.payment-div, .shipping-div {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid grey;
    background-color: var(--white);
}

#radio1, #radio2, #radio3 {
    margin-left: 10px;
    margin-right: 20px;
}

.price-offer {
    margin-right: 30px;
    font-weight: 600;
    letter-spacing: 0.1px;
    font-size: 15px;
}

.logo-container {
    width: 70px;
    margin-right: 20px;
    height: 40px;
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.klarna img {
    object-fit: cover;
}

.radio-first, .shipping-first {
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
}

.radio-third {
    border-top: none;
    border-radius: 0px 0px 10px 10px;
}

.shipping-second {
    border-radius: 0px 0px 10px 10px;
}

#ship1, #ship2 {
    margin-left: 10px;
    margin-right: 20px;
}

.pay-btn {
    margin-top: 100px;
    font-size: 22px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.pay-btn:hover {
    opacity: 0.8;
}

.final-cost-div {
    margin-top: 100px;
}

.line {
    width: 240px;
    height: 0.5px;
    background-color: var(--black);
    margin: 10px 0px;
}

.continue-btn {
    letter-spacing: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}


.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.total-text {
    font-size: 19px;
    margin-bottom: 2px;
    letter-spacing: 1px;
}

.final-total {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1px;
}

.message-container {
    width: 380px;
    height: 200px;
    background-color: var(--white);
    border: 4px solid var(--green);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -200px;
    padding-top: 25px;
}

.thank-you-text {
    font-size: 18px;
    font-family: 'Open Sans';
    margin-bottom: 10px;
}

.successful-text {
    font-size: 18px;
    width: 280px;
    text-align: center;
}

.ok-btn {
    background-color: var(--green);
    color: var(--white);
    padding: 6px 8px;
    border-radius: 10px;
    border: none;
    width: 100px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.ok-btn:hover {
    opacity: 0.8;
}

@media screen and (max-width: 400px) {
    .name-div {
        flex-direction: row;

    }

    .information-form {
        width: 400px;
        align-items: center;
    }

    .checkout-headline {
        text-align: center;
    }

    .first {
        border-radius: 10px 0px 0px 0px;
        width: 150px;
    }

    .second {
        border-radius: 0px 10px 0px 0px;
        width: 150px;
    }

    .address-input {
        width: 300px;
        border-radius: 0px;
        justify-self: center;

    }

    .zip-country-div {
        flex-direction: row;
    }

    .zip-code-input {
        width: 100px;
    }

    .county-input {
        width: 200px;
    }

    .shipping-div {
        width: 300px;
        justify-content: space-between;
        align-items: center;
     
    }
}