.login-page {
    width: 100%;
    height: 100vh;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confetti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.container p {
    font-size: 28px;
    margin-top: 0px;
}

.form {
   border: 8px solid var(--white);
   padding: 30px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center; 
   margin-top: 40px;
   border-radius: 10px;
}

.form div {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.form div .warning {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--red);
    position: absolute;
    right: 19%;
    top: -14%;
}
.form div .not-equal {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--red);
    position: absolute;
    right: 18%;
    top: -10%;
}

.eye {
    position: absolute;
    right: 2%;
    bottom: 25%;
    cursor: pointer;
    color: rgb(115, 114, 114);
}

.form label {
    text-align: left;
    width: 200px;
    font-size: 18px;
    margin: 15px;
}

.form input {
    margin: 15x;
    width: 207px;
    height: 32px;
    font-size: 12px;
    padding-left: 5px;
    border-radius: 5px;
}

.form button {
    margin-top: 24px;
    border-radius: 10px;
    width: 5.5rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    background-color: var(--red);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.2s ease-in;
    align-self: center;
}

.form button:hover {
    opacity: 0.7;
}

.form button.active {
    transform: translateY(2px);
}

.small-text {
    margin-top: 0.5rem;
    font-size: 12px!important;
    position: absolute;
    left: 1%;
    bottom: -8%; 
}

.small-text span {
    text-decoration: underline;
    cursor: pointer;
}

.small-text span:hover {
    opacity: 0.7;
}

.login-div {
    width: 360px;
}

.success-popup {
    width: 380px;
    height: 200px;
    background-color: var(--white);
    border: 3px solid var(--red);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    z-index: 10;
}

.success-popup p {
    margin: 5px 0;
}

.success-popup button {
    margin-top: 24px;
    border-radius: 10px;
    width: 5.5rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    background-color: var(--red);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.2s ease-in;
    align-self: center;
}

.success-popup button:hover {
    opacity: 0.7;
}


@media screen and (max-width: 460px) {

    .login-page {
        justify-content: flex-start;
        padding-top: 15vh;
        height: 100vh;
    }
    .container {
        width: 90%;
        height: 45vh;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;
    }

    .form {
        border: 8px solid var(--white);
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; 
        margin-top: 40px;
        border-radius: 10px;
        width: 100%;
        height: auto;

     }

     .form div {
        width: 100%;;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: auto;
    }

    .form label {
        text-align: left;
        width: 200px;
        font-size: 18px;
        margin: 0px;
    }
    
    .form input {
        margin-top: 8px;
        width: 200px;
        padding-left: 5px;
        border-radius: 5px;
    }

    
    .small-text {
        margin-top: 0.5rem;
        font-size: 12px!important;
        position: absolute;
        left: 10%;
        bottom: -20%; 
    }

    .register-container {
            height: 58vh;
    }

    .success-popup {
        width: 320px;
        height: 200px;
        margin-top: 30px;
        left: 50%;
        margin-left: -160px;
        z-index: 10;
    }


    .eye {
        position: absolute;
        right: 0%;
        bottom: 0%;
        cursor: pointer;
        color: rgb(115, 114, 114);
        font-size: 20px;    
    }

    .login-register-text {
        bottom: -25%;
    }

  

    .form-label {
        margin-top: 15px!important;
    }

}

