.member-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
}

.welcome-message {
    font-size: 28px;
    margin-bottom: 60px;
}

.member-card {
    width: 580px;
    height: 280px;
    background-color: rgb(33, 155, 33);
    border-radius: 10px;
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-headline {
    margin-top: 30px;
    margin-bottom: 20px;    
}

.member-card p span {
    color: gold;
    font-weight: 700;
}

.image-container {
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: -50px;
    margin-right: 55px;
}

.image-container img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    z-index: 9;
}


.left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.left p {
    width: 75%;
}

.validity {
    font-size: 12px;
    margin-top: 10px;
}


.choose-text {
    margin-top: 100px;
    font-size: 28px;
    margin-bottom: 40px;
}

.wishlist-text {
    font-size: 28px;
    margin-top: 100px;
}

.redheart {
    color: var(--red);
    margin-bottom: -4px;
    margin-right: 5px;
}

.nothing {
    width: 100%;
    height: 30vh;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(94, 94, 94)

}

.wish-container {
    padding-top: 40px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
    .member-card {
        width: 350px;
        height: 240px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .image-container {
        width: 100px;
        height: 100px;
        margin-top: -30px;
        margin-right: 15px;
    }

    .card-headline {
        margin-top: 0px;
        margin-bottom: 10px;    
    }

    .left {
        padding:20px 10px 10px 20px;
    }
    
    .left p {
        width: 100%;
    }
 
    
}