.search-container {
    width: 100%;
    min-height: 100%;
    padding-top: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.close-icon {
    font-size: 28px;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    top: 12%;
    right: 13%;

}

.search-input {
    margin-right: 10px;
    width: 290px;
    height: 40px;
    padding: 6px;
    font-size: 18px;
    border-radius: 2px;
    border: 1px solid grey;
}

.search-magnifyer {
    font-size: 28px;
}

.search-result {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

@media screen and (max-width: 400px) {
    .search-container {
        padding-top: 20vh;
    }

    .search-input {
        margin-right: 10px;
        width: 250px;
        height: 40px;
        padding: 6px;
        font-size: 17px;
    }

    .close-icon {
        right: 14%;
    }
}